<!DOCTYPE html>
<html>
<head>
  <title>CloudPlayer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>

  <div class="Topbar grid-x">
    <div class="cell small-8">
      <a href="/"><h1>CloudPlayer</h1><a>
    </div>
    <% if !current_user %>
      <div class="cell small-2">
        <p><%= link_to 'Sign In', new_user_session_path, class: "button large"%><p>
      </div>
      <div class="cell small-2">
        <p><%= link_to 'Sign Up', new_user_registration_path, class: "button large"%><p>
      </div>
    <% else %>
      <div class="cell small-2">
        <p><%= link_to 'Home', "/users/#{current_user.id}/friends", class: "button large"%><p>
      </div>
      <div class="cell small-2">
        <p><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "button large"%><p>
      </div>
    <% end %>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      window.Spotify = Spotify;
    };
  </script>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
